@font-face {
  font-family: "my";
  src: url("/font/font.otf");
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb:active{
  -webkit-box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5);
}

/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0);
  border-radius: 10px;
}

/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    background-color: #b9b9b9 !important;
  border-radius: 10px;
  -webkit-box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.home-blog .hero{
    font-family: Long Cang,cursive!important;
    margin-top: 0 !important;
    position: relative;
    box-sizing: border-box;
    height: 100vh !important;
    background url('/img/bg.png') center/cover !important;
}

.hero>div{
    transform: translateY(60px)
}

.navbar{
    position: absolute !important;
    background-color: transparent !important;
}

.nav-item{
    font-family: 'my' 
    color: #7f7f7f !important;   
}

.nav-link,.dropdown-title,.iconfont{ 
    color: inherit !important;
}

.sidebar .nav-links a{
    font-weight: normal !important;
}

.navbar .links{
    background-color: transparent!important;    
}

.search-box input:focus{
    border-color: #7f7f7f !important;   
}

.search-box input{
    border: 1px solid #7f7f7f !important;
    color: #7f7f7f !important;  
}

.search-box{
    // margin-right:1rem;    
}

.reco-search,.sidebar-button{
    color: #7f7f7f !important;
}

.site-name,.description,.hero h1{
    font-family: my
    pointer-events: none;
}

.site-name{
    color: #7f7f7f !important;    
}

.description::after{
    position: absolute;
    top: 400%;
    left: 50%;
    content: '';
    display: block;
    border-right: 6px solid #242424;
    border-bottom: 6px solid #242424;
    width: 30px;
    height: 30px;
    transform: translateX(-50%)  rotate(45deg)
    border-radius: 6px;
    animation: custom 2.5s linear infinite alternate;
    cursor pointer;
    pointer-events: auto;
}

@keyframes custom {
    0%{
        top: 400%;
    }
    50%{
        top: 450%
    }
    100%{
        top: 400%    
    }
}

.footer>span:first-child{
    display: none
}

.reco-copyright + a>span::before{
    content: '@';
}

@media (max-width: 719px){
    .footer>span:first-child{
        display: none !important;
    }    
}

@media (max-width: 959px) and (min-width: 719px){
    .search-box{
        margin-right: 1rem !important;    
    }    
}

@media screen and (max-width:959px) {
    .search-box input{
        border-color: transparent !important;
    }
}